header {
  border-bottom: 1px solid #eee;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.fab {
  margin-right: 10px;
}

h1 {
  border-left: 1px solid #000;
  padding-left: 10px;
  font-size: 2.2rem;
}

input{
  text-align:center;
  border-radius: 2px;
  /* gotta be a better way than fixed width */
  width: 200px;
  background-color: #fafafa;
}

.user {
  /* gotta be a better way than fixed width */
  width: 150px;
  display: flex;
  justify-content: space-between;
}