i {
  margin: 5px 0;
}

.fa-heart {
  margin-right: 20px;
}

.likes {
  font-weight: bold;
  margin-bottom: 5px;
}

span {
  margin-right: 5px;
}

p {
  display: inline-block
}

.date {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.addComment {
  border: none;
  padding: 10px 0;
  font-size: 1.8rem;
}

.addComment:focus {
  outline: none;  
}