.comments {
  padding: 10px
}

i {
  margin: 5px 0;
}

.fa-heart:first-child {
  margin-right: 20px;
}

.likes {
  font-weight: bold;
  margin-bottom: 5px;
}

span {
  margin-right: 5px;
}

p {
  display: inline-block;
  margin-bottom: 5px;
}

.date {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  color: #787474;
}

.addComment {
  border: none;
  padding: 10px 0;
  font-size: 1.8rem;
  width: 100%;
}

.addComment:focus {
  outline: none;  
}