i {
  margin: 5px 0;
}

.fa-heart {
  margin-right: 20px;
}

.likes {
  font-weight: bold;
  margin-bottom: 5px;
}

span {
  margin-right: 5px;
}

.username {
  font-weight: bold;
}

p {
  display: inline-block
}